body {
    background-image: url(https://images.unsplash.com/photo-1536736368159-ea9093d4a213?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

main {
    max-width: 600px;
}


h1 {
    font-family: monospace;
}

.max-width {
    max-width: 400px;
}

.pw-field {
    padding: 0.375rem 0.75rem;
    height: 40px;
}

#pw-result {
    font-family: monospace;
}



.container-fluid {
    overflow: hidden;
}

.bg-img-blur {
    background-image: url(https://images.unsplash.com/photo-1536736368159-ea9093d4a213?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px) brightness(90%);
    scale: 110%;
}

.img-container {
    max-height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container>img {
    width: 100%;
    height: auto;
}

 label.input-group-text {
        font-size: .8rem;
    }

.input-group {
    height: 40px;
}

@media (min-width: 576px) {
    #pw-result {
        font-size: 1.5rem;
    }

    label.input-group-text {
        font-size: 1rem;
    }
    
}